body,
html {
  margin: 0;
  font-family: Poppins;
  height: 100%;

  button {
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
  }

  .hero-image {
    background-image: url("./../public/images/hero-image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @keyframes titleeasein {
      from {
        left: 35%;
        opacity: 50%;
      }

      to {
        left: 50%;
        opacity: 100%;
      }
    }

    .title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      animation-name: titleeasein;
      animation-duration: 2s;
    }
  }

  #learn-more-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;

    img {
      width: 50vw;
      height: 80vh;
    }

    .learn-more-content {
      padding: 0 15px;
      text-align: center;

      @keyframes learn-more-content {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 50%;
        }

        100% {
          opacity: 100%;
        }
      }

      animation: learn-more-content 3s;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          margin-top: 20px;

          @keyframes hoverlistname {
            0% {
              margin-left: 0;
            }

            50% {
              margin-left: 8px;
              color: blueviolet;
            }

            100% {
              margin-left: 0;
              color: black;
            }
          }

          &:hover {
            animation: hoverlistname 2s forwards;
            animation-iteration-count: infinite;
            cursor: pointer;
          }
        }
      }
    }
  }

  .content {
    section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
      border-bottom: 1px solid #d3d3d3;
      padding: 0 60px;

      div {
        max-width: 40vw;
      }

      p {
        margin-top: 10px;
      }

      .example-container {
        display: flex;
        justify-content: center;

        .example {
          display: flex;
          align-items: center;
          padding: 10px;
          width: fit-content;
          position: relative;
          border-radius: 5px;
          background-color: black;
          color: white;
          z-index: -8;

          button {
            margin-right: 15px;
            color: white;
          }

          &:after {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            border: 2px solid black;
            z-index: -10;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.fab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 75vh;
  width: fit-content;
  body {
    position: relative;
  }
  #toggle {
    -webkit-appearance: none;

    &:checked~.nav {
      opacity: 1;
      transform: translateY(-10%);
    }

    &:checked~.button:before {
      transform: rotate(225deg);
    }

    &:checked~.button:after {
      transform: rotate(135deg);
    }
  }

  .button {
    z-index: 999;
    width: 43px;
    height: 43px;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 90vw;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      transform: rotate(90deg);
      transition: all 0.4s ease;  
    }

    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      transition: all 0.4s ease;
    }
  }

  .nav {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background: #fff;
    width: 25vw;
    border-radius: 5px;
    transform: translateY(90%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    border: 1px solid #e4e4e4;
    padding: 10px;
    position: relative;
    bottom: 10vh;
    left: 60vw;
    z-index: 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        text-align: center;
        margin: 20px 0;
        color: black;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;

        &:hover {
          color: blueviolet;
          cursor: pointer;;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .fab-container {
    width: 100%;
  }
}